# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\НИИТ\Course Java Spring\niit_spring_2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
